* {
	padding:0;
	margin:0
}
html,body,#wrapper {
	height:100%
}
body {
	overflow-y:hidden;
}
#SDnfdNfsyFb {
	border:0;
	background:none;
}
#cndujishfIFhDfbK {
	border:0;
	background:none;
	margin-left:10%;
	margin-top:19%
}
#dncjcsFhdfFuHDFC {
	border:0;
	background:none;
	margin-left:20%;
	margin-top:40%
}
#jhgHghjGKJHhjkhH {
	border:0;
	background:none;
	margin-left:40%;
	margin-top:10%
}
#DjdfDFJDnfODjifg {
	border:0;
	background:none;
	margin-left:70%;
	margin-top:120%
}
#content {
	min-height:100%;
}